BODY{
    background-image:url(bgScript.jpg);
    
}


.customFile {
position: absolute;
width: 210px;
margin-left: -150px;
cursor: default;
height: 35px;
z-index: 2;
filter: alpha(opacity: 0);
opacity: 0;

}


.fakeButton a{
position: relative;
z-index: 1;
width: 70px;
height: 20px;
background-color: #98D1E2;
float: left;
text-decoration:none;
outline: none;
text-align:center;
border-bottom: 1px solid #1B7272;
border-right: 1px solid #1B7272;
font-size:90%
}

.customFile:hover + div.fakeButton > a{
	border-bottom: 2px solid #1B7272;
	border-right: 2px solid #1B7272;
	top:-1px;
	height: 19px;
}

.customFile:active + div.fakeButton > a {
	background-color: #8CC0CE;
	border-bottom: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	top:0px;
	height: 20px;
}

.blocker {
position: absolute;
z-index: 3;
width: 150px;
height: 21px;
margin-left: -155px;

}
.FileName , #iBench{
display: inline-block;
position: absolute;
height: 15px;
margin-left: 0px;
font-family: Verdana;
font-size: 8pt;
text-align: left;
color: Gray;
margin-top: 2px;
padding-top: 1px;
padding-left: 19px;
}



#dialog input 
{
    width: 150px; margin: 5px; text-align: left

}
#dialog label 
{
    display:inline-block; width: 120px

}